<ion-menu [content]="mycontent" id="menuAdministrador">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu ADM</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose="menuAdministrador" ion-item *ngFor="let p of pagesAdministrador" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu [content]="mycontent" id="menuLoja">
    <ion-header>
        <ion-toolbar color="danger">
            <ion-title>Menu Loja</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose="menuLoja" ion-item *ngFor="let p of pagesLoja" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu [content]="mycontent" id="menuFuncionario">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Funcionário</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose="menuFuncionario" ion-item *ngFor="let p of pagesFuncionario" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu [content]="mycontent" id="menuCliente">
    <ion-header>
        <ion-toolbar color="light">
            <ion-title>Cliente Especial</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button menuClose="menuCliente" ion-item *ngFor="let p of pagesCliente" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-nav #mycontent [root]="rootPage"></ion-nav>
